@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
:root {
	--modal-duration: 1s;
	--primary-clr: steelblue;
	--primary-clr-alt: #30336b90;
	--secondary-clr: lightblue;
	--success-color: #2ecc71;
	--error-color: #e74c3c;
	--border-clr: rgba(200, 200, 200, 0.1);
	--transition-speed: .3s;
}

* {
	box-sizing: border-box;
}
nav ul li.active, nav ul li:hover {
    background-color: var(--secondary-clr);
}
#login-container {
	position: relative;
	background-color: var(--primary-clr);
	color: #fff;
	font-family: 'Muli', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	margin: 0;
}
.form-wrapper {
	z-index: 2;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.4);
	padding: 20px 40px;
	border-radius: 5px;
	transform: scale(0);
	transition: transform var(--transition-speed) linear;
}

.form-wrapper.active {
	transform: scale(1);
}

.form-wrapper h1 {
	text-align: center;
	margin-bottom: 30px;
}

.form-wrapper.login--form a {
	text-decoration: none;
	color: var(--secondary-clr);
}

.btn {
	cursor: pointer;
	display: inline-block;
	width: 100%;
	background: var(--secondary-clr);
	color: #444;
	padding: 15px;
	font-family: inherit;
	font-size: 16px;
	border: 0;
	border-radius: 5px;
}

.btn:focus {
	outline: 0;
}

.btn:active {
	transform: scale(0.98);
}
.container p:not(.hero p), .text {
	margin-top: 30px;
	padding: 1rem;
	background-color: var(--primary-clr-alt);
	border-radius: 0;
	border: 0;
	box-shadow: none;
}
.login--form .form-control {
	position: relative;
	margin: 10px 0;
	width: 300px;
}

.login--form .form-control input {
	background-color: transparent;
	border: 0;
	border-bottom: 2px #fff solid;
	display: block;
	width: 100%;
	padding: 10px 0;
	font-size: 18px;
	color: #fff;
}

.login--form .form-control input:focus,
.login--form .form-control input:valid {
	outline: 0;
	border-bottom-color: lightblue;
}

.login--form .form-control label {
	position: absolute;
	top: 20px;
	left: 0;
	pointer-events: none;
}

.login--form .form-control label span {
	display: inline-block;
	font-size: 18px;
	min-width: 5px;
	transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.login--form .form-control input:focus + label span,
.login--form .form-control input:valid + label span {
	color: lightblue;
	transform: translateY(-30px);
}

.background {
	background: url('https://images.unsplash.com/photo-1556745757-8d76bdb6984b') no-repeat center center/cover;
	position: absolute;
	top: -20px;
	bottom: -20px;
	left: -20px;
	right: -20px;
	z-index: 1;
	filter: blur(20px);
}


.form {
	padding: 30px 40px;
}

.register--form .form {
	padding: 0 40px;
}

.register--form .form-control {
	margin-bottom: 10px;
	position: relative;
}

.register--form .form-control label {
	position: relative;
	top: auto;
	color: #777;
	display: block;
	margin-bottom: 5px;
}

.register--form .form-control input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	width: 100%;
	padding: 10px;
	font-size: 14px;
}

.register--form .form-control input:focus {
	outline: 0;
	border-color: #777;
}

.register--form .form-control.success input {
	border-color: var(--success-color);
}

.register--form .form-control.error input {
	border-color: var(--error-color);
}

.register--form .form-control small {
	color: var(--error-color);
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.register--form .form-control.error small {
	visibility: visible;
}

.form button {
	cursor: pointer;
	background-color: #3498db;
	border: 2px solid #3498db;
	border-radius: 4px;
	color: #fff;
	display: block;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
}

@media (max-width: 500px){
	.form-wrapper{
		width: 90%;
		height: 90%;
		overflow: auto;
		padding: .5rem;
	}
	.form {
	    padding: 1rem;
	}
	.register--form .form {
	    padding: 0 0.5rem;
	}
	.register--form h2 {
	    margin: auto;
	}
	.login--form .form-control {
	    width: 100%;
	}
}
