@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

#container-group {
	--modal-duration: 1s;
	--primary-clr: #4992d3;
	--primary-clr-alt: #4992d390;
	--secondary-clr: #296ca8;
	--border-clr: rgba(200, 200, 200, 0.1);
}

h1,h2 {
	margin-bottom: 0;
	text-align: center;
}
/* nav {background-color: var(--primary-clr);border-right: 2px solid var(--border-clr);} */
#blog-container, #snippet-container {
	position: relative;
	/* display: flex;flex-direction: column;align-items: center;justify-content: center;overflow: auto;padding-bottom: 100px;height: calc(100vh - 2rem); */
	height: 100vh;
	margin: 1rem 0;
	background-color: var(--secondary-clr);
	color: #fff;
	font-family: 'Roboto', sans-serif;
	border-radius: var(--radius);
}
#posts-container, #snippets-container {
    height: calc(100vh - 2rem);
	padding: 1rem 1rem 100px 2rem;
    overflow: auto;
	Scrollbar-width:thin;
}
.container p:not(.hero p){box-shadow: none;border: none;}
.filter-container {
	margin-top: 20px;
	width: 80vw;
	width: 100%;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

input.filter {
	width: 100%;
	padding: 12px;
	font-size: 16px;
}

.post,.snippet {
	position: relative;
	background-color: var(--primary-clr);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	padding: 20px;
	margin: 40px auto 15px auto;
	display: flex;
	/* width: 80vw; */
	max-width: 800px;
}
.post .post-title, .snippet .snippet-title {margin: 0;}
.post .post-body, .snippet .snippet-body {
	margin: 15px 0 0;
	line-height: 1.3;
}
.post .post-info, .snippet .snippet-info {margin-left: 20px;}
.post .number, .snippet .number {
	position: absolute;
	top: -15px;
	left: -15px;
	font-size: 15px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #fff;
	color: var(--secondary-clr);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 7px 10px;
}
.snippet .snippet-body ul li {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
}
.snippet .snippet-body ul li i {margin-right: 0.5rem;}
.snippet .snippet-body ul li.sources a, .snippet .snippet-body ul li.url a {color:#ffd204;}
.snippet .snippet-body ul li.tags, .snippet .snippet-body ul li.sources {flex-wrap:wrap;}
.snippet .snippet-body ul li .tag, .snippet .snippet-body ul li .source {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    margin-right: 5px;
	margin-bottom: 2px;
}
.snippet .snippet-body ul li .tag a {color: darkslateblue;}
.snippet .snippet-body ul li.description p{padding:0;}

.loader {
	opacity: 0;
	display: flex;
	position: absolute;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);
	transition: opacity 0.3s ease-in;
}
.loader.show {opacity: 1;}

.circle {
	background-color: #fff;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin: 5px;
	animation: bounce 0.5s ease-in infinite;
}
.circle:nth-of-type(2) {animation-delay: 0.1s;}
.circle:nth-of-type(3) {animation-delay: 0.2s;}

@keyframes bounce {
	0%,100% {transform: translateY(0);}
	50% {transform: translateY(-10px);}
}

@media (max-width: 500px) {
	#posts-container, #snippets-container {padding: 1rem 1rem 50px 1.5rem;}
	#blog-container h2, #snippets-container h2{margin-top: 0;}
	.post{padding: 10px;margin: 20px auto 15px auto;}
	.post .post-info {margin-left: 5px;}
	.post .post-title{font-size: 20px;}
	.post, .snippet {padding: 0.5rem;}
	.post .post-info, .snippet .snippet-info {margin-left: 0.5rem;}
}